.articlesList {
  width: 80%;
  margin: 5% auto;
  padding: 3rem !important;
  border-radius: 25px;
  word-wrap: break-word;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.articlesList h1 {
  font-size: 50px;
  font-family: Marcellus;
  text-align: center;
  text-transform: uppercase;
}

/* .articlesList table {
  color: white;
} */

.articlesList table tr {
  vertical-align: middle;
}

@media screen and (max-width: 1200px) {
  .articlesList {
    width: 100%;
  }
}
